
.bg-bt{
  background: #0bb634;
}
.op{
  background: #d2ffdd;
}
.cl{
  color: #0bb634;
}
p,td,th{
  font-family: "Tempus Sans ITC";
  src: url('./font/TRTempusSansITC.ttf');
  
}
::placeholder {
  color: #0bb634;
  font-size: 95%;
  font-family: "Tempus Sans ITC";
  src: url('./font/TRTempusSansITC.ttf');
}
.cursor{
  cursor: pointer;
}
.menu-active:hover{
  border-left: 3px solid #0bb634 !important;
  transition: 0.5s;
  cursor: pointer;
  background: #fbfbfc;
}
.hide-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.bg{
  background: #f9fafc;
}
.button-color{
  background: #1977f3;
}
@media only screen and (max-width: 800px) {
  #pc_box {
    display: none !important;
  }
  #mb_box{
    display: block !important;
  }
}
::-webkit-scrollbar {
  width: 0px;
}